@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Baskervville:ital@0;1&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Georgian:wght@100..900&family=Noto+Serif+Georgian:wght@100..900&display=swap');
/* Basic reset and styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.language-switcher {
    margin: 10px;
    display: flex;
    gap: 10px; /* Space between language buttons */
}

.language-switcher .language {
    cursor: pointer;
    padding: 5px 10px;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;
    color: #2022a1;
    font-family: JetBrains Mono, monospace;
    font-size: 1.25rem;
    font-weight: 500;
    text-shadow: 1px 1px #58E, 2px 2px #fff, 3px 3px #58E;
}

.language-switcher .language:hover {
    background: #2022a1;
    color: #ffde59;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.about-container {
    width: 75%;
    margin: auto;
    overflow: hidden;
}

/* Header styling */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 150px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    overflow: hidden; /* Prevent overflow */
    background: rgba(255, 255, 255, 1); /* Solid background when scrolled */
}

header.scrolled {
    background: rgba(255, 255, 255, 1); /* Solid background when scrolled */
}

header .logo {
    margin-left: 100px; /* Move the logo 150px from the left */
}

header .logo h2 {
    font-family: Josefin Sans;
    font-size: .5rem;
    font-weight: 500;
    color: rgb(186, 184, 184);
    text-align: left;
}

header .logo img {
    height: 25px; /* Adjust logo height */
    transition: opacity 0.3s ease;
}

header nav {
    margin-left: auto;  /* Pushes it to the rirght */
}

header nav ul {
    list-style: none;
    display: flex;
    /*flex-direction: column; /* Stack nav items vertically */
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #2022a1;
    text-decoration: none;
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    text-shadow: 1px 1px #fff, 2px 2px #58E;
    transition: font-size 0.3s ease, color 0.3s ease; /* Smooth transition for size and color */
    cursor: pointer;
}

header nav ul li a:hover {
    color: #ffde59;
    font-size: 1.5rem;
    text-shadow: 1px 1px #58E, 2px 2px #fff, 3px 3px #58E;
    background: #2022a1;
    padding: 5px 10px;
}

/* Hero section styling */
.hero {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust height to account for fixed header */
    background: url('./img/pointy-mountains.png') no-repeat center center/cover;
    /*background: url('/Users/giorgikankia/Documents/GitHub/location intelligence services/img/zaxis-cover-final-2.svg') no-repeat center center/cover;*/
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    opacity: 1; /* Ensure it is visible */
    transform: none; /* Ensure it is not affected by transform */
    transition: none; /* No transition for hero */
}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    position: relative; /* Ensure relative positioning for children */
}

.hero .header-title {
    width: 100%;
    padding: 10px 0;
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 4rem;
    font-weight: 300;
    box-sizing: border-box;
    margin: 20px;
}

.hero .header-subtitle {
    width: 100%;
    color: #ffde59;
    -webkit-text-stroke: 1px #ffffff;
    padding: 10px 0;
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 4rem;
    font-weight: 100;
    box-sizing: border-box;
    margin: 20px;
}

span.hero-title-highlight-1 {
    color: #2022a1;
    text-shadow: 1px 1px #ffffff, 2px 2px #58E, 3px 3px #ffffff, 4px 4px #58E;
    padding: 5px;
}

span.hero-title-highlight-2 {
    color: #2022a1;
    background-color: rgba(85, 136, 238, 0);
    text-shadow: 1px 1px #ffffff, 2px 2px #58E, 3px 3px #ffffff, 4px 4px #58E;
    padding: 5px;
}

span {
    font-family: "Noto Sans Georgian", sans-serif;
}

/* Button styling on main page */
.hero-button-container {
    position: absolute;
    bottom: 20%; /* Add some space above the button container */
}

.blog-button-container {
    text-align: center;
    margin-top: 30px;
}

.projects-button-container {
    text-align: center;
    margin-top: 30px;
}

.about-button-container {
    position: absolute;
    top: 50%;
    left: 20%;
}

.service-button-container {
    position: absolute;
    bottom: 7.5%;
    margin: 0 auto;
    z-index: 1;
}

.hero-button, .about-button, .service-button, .blog-button, .projects-button, .urbanyx-button  {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.25em;
    color: #2022a1;
    font-family: "Noto Sans Georgian", sans-serif;
    background-color: #ffde59;
    text-decoration: none;
    border: none;
    text-shadow: 1px 1px #fff, 2px 2px #fff;
    box-shadow: 5px 5px 0 #0056b3; /* Add box shadow on hover */
}

.hero-button:hover, .about-button:hover, .service-button:hover, .blog-button:hover, .projects-button:hover, .urbanyx-button:hover {
    /*border: 5px solid #fff;*/
    box-shadow: 8px 8px 0 #0056b3; /* Add box shadow on hover */
    text-shadow: 1px 1px #fff, 2px 2px #fff, 3px 3px #fff;
    transform: scale(1.02); /* Slightly increase size on hover */
    transition: transform 0.3s ease;
    z-index: 1;
}

/* Section styling */
section {
    display: flex;
    position: relative;
    opacity: 0;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    transform: translateY(75px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

section.active {
    opacity: 1;
    transform: translateY(0);
}

#about {
    height: 100vh;
    padding: 0;
    /*background: url('/Users/giorgikankia/Documents/GitHub/location intelligence services/img/pointy-mountains.png') no-repeat center center/cover;*/
}

#about:before {
    content: '';
    position: absolute;
    top: 30%; /* Adjust top position as needed */
    left: 40%;
    transform: translateX(-50%);
    width: 200px; /* Adjust size of the circle */
    height: 200px; /* Adjust size of the circle */
    /*background-color: #0056b3; /* Circle color */
    opacity: 0.5;
    /*border-radius: 50%; /* Ensure it's a circle */
    z-index: -1; /* Behind the project content */
    mix-blend-mode:hue  /*Blending mode with background image */
}

#about h2, #vissualies h2, #featured-projects h2 {
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 6rem;
    color: #ffde59;
    -webkit-text-stroke: 1px #ffffff;
    text-shadow: 1px 1px #2022a1, 2px 2px #2022a1, 3px 3px #2022a1, 4px 4px #2022a1, 5px 5px #2022a1;
    text-align: left;
}

#about p, #services p {
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 2rem;
    font-weight: 200;
    text-align: left;
    color: #2022a1;
    /*text-shadow: 1px 1px #58E, 2px 2px #fff, 3px 3px #58E;*/
    padding: 10px 0;
}

/* Partners section */ 
#partners {
    width: 100%;
    height: 50%; /* Full screen height */
    padding: 5% 0;    
    background: #ffffff;
    text-align: center;
    opacity: 1; /* Ensure it is visible */
    transform: none; /* Ensure it is not affected by transform */
    transition: none; /* No transition for partners */
}

#partners h2 {
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 6rem;
    color: #ffde59;
    -webkit-text-stroke: 1px #ffffff;
    text-shadow: 1px 1px #2022a1, 2px 2px #2022a1, 3px 3px #2022a1, 4px 4px #2022a1, 5px 5px #2022a1, 6px 6px #2022a1;
    text-align: left;
}

#partners p {
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    text-align: left;
    color: #2022a1;
    /*text-shadow: 1px 1px #58E, 2px 2px #fff, 3px 3px #58E;*/
    padding: 10px;
}

.partners-content {
    width: 75%;
    margin: 0 auto;
}

.partner-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    /*gap: 20px;
    margin-top: 20px;*/
}

.partner-logos .logo {
    transition: transform 0.3s ease;
}

.partner-logos .logo img {
    max-width: 100%; /* Ensures the image doesn't overflow its container */
    max-height: 100%; /* Ensures the image doesn't overflow its container */
    width: auto;
    height: auto;
    filter: grayscale(100%); /* Make the logos black and white */
    transition: filter 0.3s ease;
}

.partner-logos .logo:hover img {
    filter: grayscale(0%); /* Color the logos on hover */
}

/* Navigation buttons */
.strong {
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 2.25rem;
    font-weight: 500;
    color: #2022a1;
    /*text-shadow: 1px 1px #58E, 2px 2px #fff, 3px 3px #58E;*/
}

/* Services section styling */
#services {
    height: 100vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    background: url('./img/background-georgia.png') no-repeat center center/cover;
    z-index: 1000;
}

#services:before {
    content: '';
    position: absolute;
    top: 5%; /* Adjust top position as needed */
    left: 85%;
    transform: translateX(-50%);
    width: 350px; /* Adjust size of the circle */
    height: 350px; /* Adjust size of the circle */
    background-color: #ffde59; /* Circle color */
    opacity: 0.5;
    border-radius: 50%; /* Ensure it's a circle */
    z-index: 1000; /* Behind the project content */
    mix-blend-mode: saturation; /* Blending mode with background image */
}

.service-container {
    position: absolute;
    top: 10%;
    width: 75%;
    margin: auto;
    overflow: hidden;
    z-index: 1000;
}

.services-title {
    width: 90%;
    text-align: left;
}

#services h2 {
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 6rem;
    color: rgb(255, 222, 89);
    -webkit-text-stroke: 1px #ffffff;
    text-shadow: 1px 1px #2022a1, 2px 2px #2022a1, 3px 3px #2022a1, 4px 4px #2022a1, 5px 5px #2022a1, 6px 6px #2022a1;
    text-align: left;
}

.services-title h3 {
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
    padding: 10px 0;
}

.services-container {
    position:absolute;
    top: 45%;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Creates 3 equal-width columns */
    grid-gap: 10px; /* Adjust the space between columns and rows */
    width: 100%; /* The container takes up 90% of the screen width */
    height: 55%;
    padding: 20px 0;
    justify-items: center; /* Center items horizontally within each grid cell */
    background-color: rgba(0, 86, 179, .25);
}

#services h4 {
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow:
    2px 2px 2px rgba(0, 86, 179, .5),
    -1px 1px 1px rgba(0, 86, 179, .5),
    -1px -1px 0 rgba(0, 86, 179, .5),
    2px -2px 0 rgba(0, 86, 179, .5);
    /*-webkit-text-stroke: .5px #ffffff;
    /*text-shadow: 1px 1px #ffffff, 2px 2px #ffde59;    /*text-shadow: 1px 1px #58E, 2px 2px #fff, 3px 3px #58E;*/
    padding: 10px 0;
}

.column-ka {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items inside the column */
    justify-content: center;
    font-family: "Noto Sans Georgian", sans-serif;
    color: white;
    text-align: center; /* Center text inside columns */
    padding: 20px;
    box-sizing: border-box;
}

.column-ka p {
    font-size: 1.25rem;
}

/* Ensure SVG is centered */
.column-ka svg {
    display: block;
    margin: 0 auto; /* Center the SVG horizontally */
    margin-bottom: 10px; /* Space between the SVG and the heading */
}

.section-img {
    max-width: 100%; /* Ensures the image does not exceed its parent container */
    height: auto; /* Maintains aspect ratio while scaling */
    display: block; /* Ensures proper block-level display */
    margin: 0 auto; /* Centers the image horizontally */
}

/* Projects section styling */ 
#featured-projects {
    background: #fff;
    padding: 100px 0;
    font-family: 'JetBrains Mono', monospace;
    position: relative;
    z-index: 1; /* Ensure content is above pseudo-element */
}

#featured-projects h4, #vissualies h4 {
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: left;
    color: #2022a1;
    /*text-shadow: 1px 1px #58E, 2px 2px #fff, 3px 3px #58E;*/
}

.filter-buttons {
    margin: 30px;
}

.filter-buttons button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-buttons button:hover {
    background-color: #555;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: 100vh;
}

.grid-item {
    width: 45%;
    position: relative;
    background-color: transparent; /* Transparent background for blog card */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the start */
    align-items: flex-start; /* Align content to the start */
    text-align: left; /* Align text to the left */
    z-index: 2; /* Ensure content is above pseudo-element */
    transition: transform 0.3s ease;
    margin: 2.5%;
}

.grid-item img {
    opacity: .9;
    max-width: 100%;
    height: 500px; /* Set a fixed height for uniformity */
    width: auto;
    object-fit: cover; /* Ensure images cover the area without distortion */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.grid-item img:hover {
    opacity: 1;
}

.project-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.75), rgb(255, 255, 255));
    /*background: rgba(255, 255, 255, 0); /* Background for better text readability */
    color: #fff;
    padding: 10px;
    border-radius: 0;
    /*border: 1px solid white;*/
    text-decoration: none;
    /*border: 2px solid #fff;*/
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.project-info h3 {
    -webkit-text-stroke: .5px #000;
    text-align: left;
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #2022a1; 
    /*text-shadow: 1px 1px #ffffff, 2px 2px #ffde59;*/
    margin: 10px 0;
}

.project-info p {
    font-family: "Noto Sans Georgian", sans-serif !important;
    font-size: 1.5rem !important;
    color: #2022a1 !important;
    /*text-shadow: 1px 1px #ffffff, 2px 2px #ffde59;*/
}

.grid-item:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

/* Blog section styling */
#vissualies {
    /*background-color: rgba(214, 16, 16, 0.8); /* Semi-transparent background to blend with image */
    position: relative;
    height: 100vh;
    z-index: 1; /* Ensure content is above pseudo-element */
}

#vissualies p {
    font-family: "Noto Serif Georgian", serif;
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
    color: #333;
    /*text-shadow: 1px 1px #58E, 2px 2px #fff, 3px 3px #58E;*/
    padding: 10px 0;
}

.blog-grid {
    display: grid;
    padding-top: 5%;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: #252525;
}

.blog-post {
    position: relative;
    background-color: transparent; /* Transparent background for blog card */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the start */
    align-items: flex-start; /* Align content to the start */
    text-align: left; /* Align text to the left */
    z-index: 2; /* Ensure content is above pseudo-element */
}

.blog-post img {
    width: 100%;
    height: 300px;
    object-fit: cover; /* Ensure images cover the area without distortion */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.blog-post img:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
}

.blog-content {
    padding: 20px;
    position: relative; /* Ensure z-index works */
}

.blog-post h3 {
    margin: 20px 0 10px;
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #2022a1;
    text-align: left; /* Align heading text to the left */
}

.blog-content h4.subtitle {
    font-family: "Noto Serif Georgian", serif !important;
    font-size: 1rem !important;
    font-weight: 300 !important;
    /*text-shadow: 1px 1px #58E, 2px 2px #fff, 3px 3px #58E;*/
    padding: 10px 0 !important;
    color: #333 !important;
    text-align: left !important; /* Align paragraph text to the left */
}

.blog-meta {
    margin: 10px 0;
    font-family: Josefin Sans;
    font-size: 0.875rem;
    font-weight: 400;
    color: #666;
    text-align: left; /* Align meta text to the left */
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust gap as needed */
}

.blog-author {
    display: flex;
    align-items: center;
    gap: 5px; /* Adjust gap as needed */
}

.author-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #2022a1;
    font-size: 1em;
    font-family: Josefin Sans;
}

.blog-date {
    position: absolute;
    top: 0;
    left: 0; 
    padding: 10px;
    z-index: 2;
    font-family: Josefin Sans;
    font-weight: 400;
    color: #2022a1;
    text-decoration: none;
    background:rgba(255, 255, 255, 1);
    box-shadow: 5px 5px #ffde59;
}

.blog-date-ka {
    position: absolute;
    top: 0;
    left: 0; 
    padding: 10px;
    z-index: 2;
    font-family: Noto Sans Georgian;
    font-weight: 400;
    color: #2022a1;
    text-decoration: none;
    background:rgba(255, 255, 255, 1);
    box-shadow: 5px 5px #ffde59;
}

.author-link:hover {
    color: #769ed3;
    transform: scale(1.05); /* Slightly increase size on hover */
    transition: transform 0.3s ease;
}

.author-img {
    width: 30px !important; /* Adjust size as needed */
    height: 30px !important; /* Adjust size as needed */
    border-radius: 50% !important;
    object-fit: cover !important;
}

.author-name {
    margin-left: 5px; /* Adjust as needed */
}

/* Newsletter subsciprtion section styling */
#newsletter {
    display: flex;
    position: relative;
    margin: 100px 0 100px 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 50px 20px;
    background-color: #ffffff; /* Background color for the newsletter section */
    box-sizing: border-box;
}

.newsletter-container {
    position: relative;
    text-align: left;
    width: 60%; /* Width of the container */
    /*max-width: 600px; /* Maximum width */
    text-align: center; /* Center align text */
    background-image: linear-gradient(140deg, #5170ff 0%, #ff66c4 100%) !important;
    /*background: #58E; /* Background color for the container */
    padding: 100px;
    border: 2px solid #ffffff;
    box-shadow: 10px 10px #ffde59;
}

#newsletter h2 {
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: left; /* Align heading to the left */
}

p.sign-up {
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    text-align: left; /* Align heading to the left */
}

p.newsletter-consent {
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: .75rem;
    color: #ffffff;
    text-align: left; /* Align heading to the left */
    padding-top: 10px;
}

#subscription-form {
    display: flex;
    flex-direction: row; /* Arrange input and button in a row */
    align-items: center;
    justify-content: space-between;
}

#subscription-form input[type="email"], #subscription-form button {
    height: 50px; /* Ensure the input and button have the same height */
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.05em; /* Add letter spacing */
    border: none;
    padding: 0 10px; /* Adjust padding for the input field */
    box-sizing: border-box;
}

/* Custom placeholder color */
#subscription-form input[type="email"]::placeholder {
    font-family: "Noto Sans Georgian", sans-serif;
    color: #ffde59; /* Custom placeholder font color */
}

#subscription-form input[type="email"] {
    background-color: transparent;
    color: #ffde59;
    width: calc(100% - 130px); /* Adjust width to leave space for the button */
    margin-right: 10px; /* Add some space between the input and button */
    border-bottom: 2px solid white;
}

#subscription-form button {
    padding: 0 20px; /* Adjust padding for the button */
    color: #2022a1;
    cursor: pointer;
    outline: none; /* Remove the default focus outline */
    background-color: #ffde59;
    border-radius: 0;
    text-decoration: none;
    font-family: "Noto Sans Georgian", sans-serif;
    /*border: 2px solid #fff;*/
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-shadow: 1px 1px #fff, 2px 2px #fff;
    box-shadow: 5px 5px 0 #0056b3; /* Add box shadow on hover */
}

#subscription-form button:hover {
    box-shadow: 8px 8px 0 #0056b3; /* Add box shadow on hover */
    text-shadow: 1px 1px #fff, 2px 2px #fff, 3px 3px #fff;
    transform: scale(1.02); /* Slightly increase size on hover */
}

/* Remove focus outline for input and button across browsers */
#subscription-form input[type="email"]:focus, #subscription-form button:focus {
    outline: none;
}

#response-message {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #e20000;
    text-align: left; /* Align heading to the left */
}   

/* Contact Section styling */
#contact {
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 5rem;
    font-weight: 800;
    text-align: center;
    box-sizing: border-box;
    min-height: 75vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    --size: 75px; /* the size */
    --gap: 2.5px;  /* the gap */ 
    --radius: 7.5px;  /* the radius */

    /* Background with radial and conic gradients */
    background-color: transparent;
}

.contact-content {
    width: 90%;
    position: relative;
    z-index: 1;
    color: transparent;
    background-image: linear-gradient(140deg, #58E 0%, #ee59ff 100%) !important;
    background-size: 150% !important;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-animation: Gradient 10s ease infinite !important;
    -moz-animation: Gradient 10s ease infinite !important;
    animation: Gradient 10s ease infinite !important;
}

@-webkit-keyframes Gradient {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
}
@-moz-keyframes Gradient {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
}
@keyframes Gradient { 
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
}

#contact:before {
    content: "";
    position: fixed;
    inset: 0; /* Remove the gap */
    --radial-gradient: radial-gradient(var(--radius) at var(--radius) var(--radius), #000 98%, transparent);
    --offset: calc(-2 * var(--radius) - var(--gap));
    -webkit-mask:
      var(--radial-gradient),
      var(--radial-gradient) var(--offset) 0,
      var(--radial-gradient) 0 var(--offset),
      var(--radial-gradient) var(--offset) var(--offset),
      conic-gradient(at calc(var(--size) - 2 * var(--radius)) var(--size), transparent 75%, #000 0) var(--radius) 0,
      conic-gradient(at var(--size) calc(var(--size) - 2 * var(--radius)), transparent 75%, #000 0) 0 var(--radius);
    -webkit-mask-size: calc(var(--size) + var(--gap)) calc(var(--size) + var(--gap));
    background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(85, 136, 238, .5));
    z-index: -1;
}

.typewriter-container {
    position: relative;
    z-index: 1;
    margin-top: 20px;
}

.typewriter {
    display: inline-block;
    font-size: 2.5rem !important;
    font-weight: 400 !important;
    overflow: hidden; /* Ensures only the current text is visible */
    border-right: 0.1em solid #000000; /* Blinking cursor */
    white-space: nowrap; /* Keeps text in a single line */
    margin: 0 auto; /* Centers the typewriter */
    animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #000000; }
}

.typewriter-text {
    font-family: JetBrains Mono, monospace;
    color: #000000; /* Text color */
    text-shadow: 1px 1px #ffffff, 2px 2px #ffde59, 3px 3px #ffde59;
}

/* Zaxis-info section styling */
#zaxis-info {
    position: relative;
    height: 35vh;
    z-index: 1; /* Ensure content is above pseudo-element */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: black;
    border-top: 5px solid white;
}

.zaxis-info-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Four equal columns */
    gap: 20px; /* Adjust gap between columns as needed */
    width: 75%; /* Fit to 75% width of the screen */
    align-items: start;
    box-sizing: border-box;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: Josefin Sans;
    color: white;
    /*background: #f0f0f0; /* Background color for the columns */
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
}

.column-ka {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: "Noto Sans Georgian", sans-serif;
    color: white;
    /*background: #f0f0f0; /* Background color for the columns */
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
}

.column h2 {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(186, 184, 184);
    text-align: left;
    margin-bottom: 10px;
}

.column p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.column-ka h2 {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(186, 184, 184);
    text-align: left;
    margin-bottom: 10px;
}

.column-ka p {
    font-size: .75rem;
    font-weight: 400;
    margin: 0;
}

.column img {
    max-width: 100%;
    height: auto;    
    margin: 0 auto;
}

.link-button {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    /*border: 2px solid #fff;*/
}

.link-button:hover{
    color: #769ed3;
}
/* Form styling */
/*form {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 auto;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background: #77b300;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #66a300;
}

/* Footer styling */
footer {
    font-family: JetBrains Mono, monospace;
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0 10px 0;
}

/*footer .footer-logo img {
    height: 20px; 
} /* Adjust logo height for smaller screens */

/* Full width and split columns styling */

#full-width .full-width-content iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.split-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Optional, for spacing between columns */
}

.split-columns .column-left,
.split-columns .column-right {
    flex: 1;
    min-width: calc(50% - 10px); /* Adjust based on gap */
}

/* Responsive styling */
@media (max-width: 768px) {
    
/* Header styling */
header {
    height: 100px;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, );
    z-index: 1000;
    overflow: hidden; /* Prevent overflow */
}

    header .logo img {
        height: 20px; /* Adjust logo height for smaller screens */
    }

    header nav ul {
        /*flex-direction: column;*/
        align-items: center;
    }

    header nav ul li {
        margin: 10px 10px;
    }

    header nav ul li a {
        font-size: 1rem;
        transition: font-size 0.3s ease, color 0.3s ease; /* Smooth transition for size and color */
    }

    .hero .header-title {
        font-size: 2rem;
    }

    .hero .header-subtitle {
        font-size: 1.2rem;
    }

    form {
        width: 90%;
    }

    .split-columns {
        flex-direction: column;
    }

    .split-columns .column-left,
    .split-columns .column-right {
        min-width: 100%;
    }

    #partners .partners-content {
        height: 50vh; /* Adjust for smaller screens if needed */
    }
}